
    .container {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: green;
      color: black;

    }

    .cabecalho {
        margin: 0 0% 2%;
        border: solid black;
        text-align:center;
        background-color: #8dd69a;

    }

    .titulo {
      font-size: 32px;
      font-weight: bold;
      color: blueviolet;
  
    }

    .subtitulo {
     color: blueviolet;
    }

    .conteudo {
    border: solid black;
    background-color: #8dd69a;
    color: rgb(80, 36, 73);

    }

